<div class="col s9">
  <div class="thin-container">
    <div class="row">
    <span class="page-header">
      <h3><%= @home.name %>:<small>  <%= number_to_currency(@home.value) %></small></h3>
      <h4></h4>
      <div class="divider">
      </div>
    </span>
</div>
  <div class="row">
    <% @home.rooms.each do |room| %>
    <div class="col s12 m6 l3">
    <div class="card small ">
      <div class="card-image">
        <%= image_tag "couch-livingroom.jpg", class: "activator" %>
        <!-- <img src="http://lorempixel.com/500/500/city" class="activator"/> -->
        <span class="card-title"><%= room.name %></span>
      </div>

      <div class="card-content activator">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <p class="">
          Room Items: <%= room.item_count %>
          <br />
          Room value: <%= number_to_currency(room.total_room_value) %>
        </p>
        <%= link_to "View", room_path(room), class: "btn" %>
      </div>
      <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
      <!-- <div class="card-action">
              <a href="#">View</a>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            <!-- </div> -->
    </div>
  </div>
    <% end %>
    </div>
  </div>
  </div>
</div>
