<div class="col s9">
  <div class="thin-container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <span class="page-header">
        <h4>
        <strong><%= @room.home.name %>:</strong><%= @room.name %>
        </h4>
      </span>
      <div class="divider"></div>

      <ul>
        <% @room.items.each do |item| %>
        <li><%= item.name %> : <%= item.id %></li>
        <% end %>
        
      </ul>
      
      <%= link_to 'Edit', edit_room_path(@room) %> |
      <%= link_to 'Back', rooms_path %>

    </div>
  </div>
</div>

