
<div class="col m1 height-mod hide-on-med-and-down super">
    <ul class='white-text'>
      <li class="sidenav-link">
      <%= link_to(root_path, {class: "nav-hover"}) do %>
      <i class="small material-icons tooltipped active" data-position="right" data-delay="50" data-tooltip="Dashboard">dashboard</i>
      <% end %>
      </li>
      <li class="sidenav-link">
      <!-- FIXME  update link_to to correct path-->
      <%= link_to(rooms_path, {class: "nav-hover"}) do %>
      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Properties">home</i>
      <% end %>
      </li>
      <li class="sidenav-link">
      <!-- FIXME  update link_to to correct path-->
      <%= link_to(root_path, {class: "nav-hover"}) do %>
      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Collections">collections</i>
      <% end %>
      </li>
      <li class="sidenav-link">
      <!-- FIXME  update link_to to correct path-->
      <%= link_to(root_path, {class: "nav-hover"}) do %>
      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Misc.">apps</i>
      <% end %>
      </li>
      <li class="sidenav-link">
      <!-- FIXME  update link_to to correct path-->
      <%= link_to(root_path, {class: "nav-hover"}) do %>
      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Reports">assessment</i>
      <% end %>
      </li>
    </ul>
</div>
